@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

body {
  color: #343a40;
  /* background: #f8f9fa; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}